<app-header></app-header>
<div class="row">
    <div class="col-2">
        <h1>GYKA
            <br></h1>
        <p>Es una empresa que elabora snacks a base de zanahoria adicionado con amaranto, 
            limón y miel de agave para personas que padecen de estrés oxidativo.
            </p>
        
    </div>
    <div class="col-4">
        <img src="assets/img/GYKA.jpg">
    </div>
</div>
  
  
  <!-- Testimonial -->
  <div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Obtener el mayor aprovechamiento de recursos naturales y materia prima, para 
                    contribuir en la salud de las personas, brindando un producto de calidad.
                    </p>
                
                <h3>Mision</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Ser una empresa productora de snacks reconocida en el mercado de la región 
                    permitiendo un crecimiento en el ámbito social y comercial.
                    </p>
               
                
                <h3>Vision</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Honestidad.
                    Empatía.
                    Trabajo en equipo.
                    Responsabilidad.
                    Calidad.</p>
               
                
                <h3>Valores</h3>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Brands 
  
  <div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="assets/img/logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="assets/img/logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="assets/img/logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="assets/img/logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="assets/img/logo-philips.png">
            </div>
        </div>
    </div>
  </div>
  -->

<app-footer></app-footer>